
.job-list{
            list-style-type: circle;
}
.job-list a, .eeo a {
    font-weight: normal;
    color: $clr-md-blue;

}

.job-list a:hover, .eeo a:hover {
    color: $clr-drk-blue;
}

.job-list a.active, .eeo a.active {
    color: $clr-drk-blue;
}
