.tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab a {
    float: left;
    border: none;
    background: none;
    outline: none;
    transition: 0.3s;
    margin: 0 1em;
    font-weight: bold;
    cursor: pointer;
    color: #848484;
    text-decoration: none;
}

.tab a:hover {
    color: $clr-drk-blue;
}

.tab a.active {
    color: $clr-drk-blue;
}

.tabcontent {
    display: none;
}
