// Team grid on the about page
.team {
    background-color: $clr-white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .teamMember {
        width: 100vw;
        height: 100vw;
        float: left;
        position: relative;

        :active {
            cursor: grabbing;
            cursor: -moz-grabbing;
            cursor: -webkit-grabbing;
        }

        @include tablet {
            height: 50vw;
            width: 50vw;
        }

        @include desktop {
            height: 25vw;
            width: 25vw;
        }

        .name_person {
            display: flex;
            align-items: center;
            top: 5%;
            position: absolute;
            left: 0%;
            text-transform: uppercase;

            @include tablet {
                top: 5%;
            }

            @include desktop {
                top: 15%;
            }

            h4 {
                transform: translateX(150px);
                animation: come-in 0.8s ease forwards;
                margin: 0;
                margin-left: 1em;
                color: $clr-drk-blue;
                font-size: 2em;
                padding: 0 .5em;

                @include tablet {
                    font-size: 1.25em;
                }

                @include desktop {
                    font-size: 0.9em;
                }
            }

            .line_person {
                display: none;
                transform: translateX(150px);
                animation: come-in 0.8s ease forwards;
                background-color: $clr-drk-blue;
                height: 2px;
                width: 20px;

                @include desktop {
                    display: block;
                }
            }
        }

        .image_person {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            align-items: flex-end;
            display: flex;

            &:focus {
                outline: none;
            }

            img {
                height: 75%;
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .color0 {
        background-color: $clr-white;
    }

    .color1 {
        background-color: $clr-accent-green;
    }

    .color2 {
        background-color: #DCF1F7;
    }

    .color3 {
        background-color: rgba(1, 104, 71, 0.6);
    }

    .color4 {
        background-color: #DCF1F7;

        @include tablet {
            background-color: $clr-accent-green;
        }

        @include desktop {
            background-color: #DCF1F7;
        }
    }

    .color5 {
        background-color: $clr-white;

        @include tablet {
            background-color: $clr-white;
        }

        @include desktop {
            background-color: $clr-white;
        }

    }

    .color6 {
        background-color: rgba(1, 104, 71, 0.6);

        @include tablet {
            background-color: #DCF1F7;
        }

        @include desktop {
            background-color: rgba(1, 104, 71, 0.6);
        }

    }

    .color7 {
        background-color: $clr-accent-green;

        @include tablet {
            background-color: rgba(1, 104, 71, 0.6);
        }

        @include desktop {
            background-color: $clr-accent-green;
        }
    }

    .color8 {
        background-color: rgba(1, 104, 71, 0.6);
    }

    .color9 {
        background-color: #DCF1F7;
    }

    .color10 {
        background-color: $clr-accent-green;
    }

    .color11 {
        background-color: $clr-white;
    }

    .color12 {
        background-color: #DCF1F7;

        @include tablet {
            background-color: $clr-white;
        }

        @include desktop {
            background-color: $clr-accent-green;
        }
    }

    .color13 {
        background-color: $clr-white;

        @include tablet {
            background-color: $clr-accent-green;
        }

        @include desktop {
            background-color: rgba(1, 104, 71, 0.6);
        }

    }

    .color14 {
        background-color: rgba(1, 104, 71, 0.6);

        @include tablet {
            background-color: #DCF1F7;
        }

        @include desktop {
            background-color: $clr-white;
        }

    }

    .color15 {
        background-color: $clr-accent-green;

        @include tablet {
            background-color: rgba(1, 104, 71, 0.6);
        }

        @include desktop {
            background-color: #DCF1F7;
        }
    }
}
