

@mixin backImage($imagePath) {
  background-image: url($imagePath);
  background-size: cover;
}

.content {
  position: relative;
  overflow: hidden;

  .svg {
    width: 100%;

    .svg_middle_left {
      display: block;
      float: left;
      width: 30%;

      @include media($tablet) {
        width: 20%;
      }
      @include media($desktop) {
        width: 20%;
      }
    }
  }

  .manifesto {
    @include backImage("/img/shapes_pattern.png");
    background-color: $clr-drk-green;
    color: $clr-white;
    padding: 2em;

    p, h1 {
      width: 100%;

      @include media($tablet) {
        margin: auto;
        width: 70%;
      }
      @include media($desktop) {
        margin: auto;
        width: 70%;
      }
    }
  }

  .benefits, .join{
    max-width: 100%;
    margin: auto;
    padding: 2em;

    @include media($tablet) {
      background-color: $clr-white;
      max-width: 70%;
    }
    @include media($desktop) {
      background-color: $clr-white;
      max-width: 70%;
    }
  }

  .team_info {

    margin: 0;
    padding: 0;

    p {
      margin: 0;
      padding: 0;

      @include media($tablet) {
        margin: 0;
        padding: 0;
      }
      @include media($desktop) {
        margin: 2em;
        padding: 2em;
      }
    }
  }


  button.contact_button {
    background-color: $clr-drk-green;
    border-radius: 8px;
    color: white;
    line-height: 0.5;
    margin: 2em auto auto auto;
    padding: 1.5rem;
    justify-content: center;

    @include media($tablet) {
      margin: 1em auto auto auto;
    }
    @include media($desktop) {
      margin: 0.5em auto auto auto;
    }
  }
}
