.team_info {
  width: 100%;
  // padding: 1em;
  margin: 1em 0 3em 0;
  position: relative;
  text-align: center;

  .our_values {
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;

    .slide {
      margin: auto;

      h3 {
        text-align: center;
      }

      p {
        padding: 1.5em;
        text-align: center;
        margin: auto;
        width: 100%;

        @include media($tablet) {
          width: 70%;
        }
        @include media($desktop) {
          width: 50%;
        }
      }
    }
  }

  .svg {
    width: 100%;

    .svg_middle_right {
      display: block;
      float: right;
      width: 40%;

      @include media($tablet) {
        width: 20%;
      }
      @include media($desktop) {
        width: 20%;
      }
    }
  }
}
