.main {
  width: 100%;
  text-align: left;
  // justify-content: space-between;

  .intro {
    position: relative;
    width: 100%;
    color: $clr-white;
    text-align: center;
    padding: 1em;
    background-color: $clr-drk-green;
    background-image: url("/img/shapes_pattern.png");

  }
  .body {
    width:100%;
    .project {
      display: block;
      margin: auto;
      position: relative;
      padding: 1.3em;

      h2,p {
      margin: 0;

      }
    }
    img {
      width: 100%;
    }
  }


}
