.about_valuesSlider {
    background: $clr-drk-blue;
    color: $clr-white;
    padding: 3.0em 0.5em;

    .slick-slider {
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    .slide {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include desktop {
            text-align: center;
        }

        .customization {
            position: relative;
            right: 24px;
        }

        h3 {
            font-size: 1.3em;
            font-weight: bold;
            padding: 1.0em 0.5em 0.5em 0.5em;
            text-align: center;
        }

        p {
            margin: 0 auto;
            max-width: 768px;
            line-height: 1.6em;
        }
    }
}

.join {
    .svg {
        width: 100%;

        .svg_middle_left {
            display: none;
            position: absolute;
            left: 0%;
            padding-top: 6em;
            width: 15%;

            @include desktop {
                display: block;
            }
        }
    }

    .heading {
        a {
            font-weight: 100;
            color: $clr-drk-blue;
            text-decoration: none;
        }
    }
}

.join, .meet {
    .heading {
        font-weight: 100;
    }
}
