.expertise-cards{

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 1.25em;
}

@media screen and (min-width: 700px) {



  .expertise-cards {

	grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.25em;

}
}
