.home {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @include desktop {
        flex-direction: row;
    }

    .background_image {
        background-image: url("/img/444_4k.jpg");
        background-size: cover;
        flex: 1;
        min-height: 444px;

        @include desktop {
            flex: 1.4;

            @media screen and (max-height: 720px) {
                flex: 1.2;
            }

            @media screen and (max-height: 620px) {
                flex: 1;
            }
        }
    }

    .description {
        color: $clr-gray-40;
        display: block;
        flex: 1;
        margin: auto;
        padding: 0.5em 2.5rem;

        h1 {
            color: $clr-drk-blue;
            margin: 0 auto 0 0;
            font-size: 1.4em;
        }

        @include desktop {
            flex: 0.33;
            padding: 0 6rem;

            @media screen and (max-height: 720px) {
                flex: 0.66;
            }

            @media screen and (max-height: 660px) {
                flex: 0.88;
            }
        }
    }
}
