.accent {
    background: linear-gradient(to bottom,
        transparent 68%,
        $clr-accent-green 68%,
        $clr-accent-green 90%,
        transparent 90%);
}

.heading {
    color: $clr-drk-blue;
    margin: 1.0em auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1em;

    @include desktop {
        font-size: 1.8em;
    }

    &::before,
    &::after {
        display: inline-block;
        content: '';
        border-top: 1px solid $clr-drk-blue;
        width: 1.5em;
        margin: 0 0.5em;
        transform: translateY(-0.35em);
    }
}


.page-title {
    @extend .accent;

    color: $clr-drk-blue;
    display: inline-block;
    padding: 0 1.0em;
    font-size: 1.8em;

    @include desktop {
        font-size: 2em;
    }
}

.page-intro,
.page-section {
    color: $clr-gray-40;
    margin: 0 auto;
    max-width: 1024px;
    padding: 0 1em 2.0em;
    text-align: center;

    @include desktop {
        padding: 0 .5em 2.0em;
    }

    p {
        text-align: left;

        @include desktop {
            text-align: center;
        }
    }
}

.page-section-small {
    @extend .page-section;

    max-width: 768px;
}

.page-intro-alt {
    background-color: $clr-drk-green;
    background-image: url("/img/shapes_pattern.png");
    background-size: cover;
    color: $clr-white;
    padding: 5.0em 0;
    text-align: center;
    width: 100%;

    h1 {
        padding: 0 1.0em;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        padding: 0 1.0em;
        margin: 0 auto;
        max-width: 768px;
    }
}

.content {
    padding-top: 75px; // get content below navbar
}

main {
    width: 100vw;
    max-width: 100vw;
    overflow: hidden;
}

a {
    color: $clr-drk-green;
    font-weight: bold;
    transition: all ease-in-out .35s;
}

.button-large, .button-wide {
    &:hover {
        background-color: #007D55;
    }
}
