.services_container {
    align-items: center;
    display: flex;
    padding: 0 0 2em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;


    @include desktop {
        align-items: stretch;
        flex-direction: row;
        align-items: flex-end;
    }

    .service {
        display: block;
        margin: 1.0em;

        @include desktop {
            width: 25%
        }

        .service_icon {
            padding: 1em;
            margin-bottom: 0.5em;
            text-align: center;

            img {
                max-width: 130px;
                width: 100%;
            }
        }

        .service_title {
            font-size: 1.2em;
            color: $clr-drk-blue;
            margin: 0;
            text-align: center;
        }

        .service_desc {
            display: none;
            padding: 0.5em 0;
            color: $clr-gray-40;
            font-size: 0.7em;
            line-height: 1.7em;
        }
    }
}
